<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/baca.css">
</head>
<body>

    <section>
        <div class="container-nav">
            <div><h1>Baca Buku</h1></div>
            <div>
                <ul class="tinggi">
                    <li><a href="/user/dasbord" class="dasbord">Dashbord</a></li>
                    <li><a href="/user/buku">Buku</a></li>
                    <li><a href="/user/baca">Baca</a></li>
                    <li><a href="/user/profil">Profil</a></li>
                    <li><a href="/user/dasbord" id="logout">Logout</a></li>
                </ul>
            </div>
            <div class="hamburger">
                <div class="atas"></div>
                <div class="tengah"></div>
                <div class="bawah"></div>
            </div>
        </div>
    </section>

    <section id="iniBody">
        <table>
            <thead>
                <tr>
                    <th>Judul Buku</th>
                    <th class="genre">Genre</th>
                    <th>Penulis</th>
                    <th class="penerbit">Penerbit</th>
                    <th class="tahunTerbit">Tahun Terbit</th>
                    <th class="thbaca">Aksi</th>
                </tr>
            </thead>
            <tbody class="tbody">

            </tbody>
        </table>
    </section>

    <script type="module" src="/js_user/baca.js"></script>
</body>
</html>