<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profil</title>
    <link rel="stylesheet" href="/profil.css">
</head>
<body>

    <section>
        <div class="container-nav">
            <div><h1>Profile</h1></div>
            <div>
                <ul class="tinggi">
                    <li><a href="/user/dasbord" class="dasbord">Dashbord</a></li>
                    <li><a href="/user/buku">Buku</a></li>
                    <li><a href="/user/baca">Baca</a></li>
                    <li><a href="/user/profil" class="profil">Profil</a></li>
                    <li><a href="/user/profil" id="logout">Logout</a></li>
                </ul>
            </div>
            <div class="hamburger">
                <div class="atas"></div>
                <div class="tengah"></div>
                <div class="bawah"></div>
            </div>
        </div>
    </section>

    <section id="iniBody">
        <div class="tulisanBody">
            <h1>Your Profile</h1>
            <div class="data">
                <div>
                    <h2>Nama:</h2>
                    <h2 class="namaLengkap">Memuat...</h2>
                </div>
                <div>
                    <h2>Email:</h2>
                    <h2 class="email">Memuat...</h2>
                </div>
                <div>
                    <h2>Username:</h2>
                    <h2 class="username">Memuat...</h2>
                </div>
                <div>
                    <h2>Password:</h2>
                    <h2 class="password">Memuat...</h2>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="/js_user/profil.js"></script>
</body>
</html>