<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord Admin</title>
    <link rel="stylesheet" href="/dasbordAdmin.css">
</head>
<body>
    <div class="atas"></div>
    <div class="isi">
        <section id="navbar">
            <div class="hamburger">
                <div class="garisAtas"></div>
                <div class="garisTengah"></div>
                <div class="garisBawah"></div>
            </div>
            <div class="dasbord">
                <a href="/admin/dasbordadmin" class="home">
                    <img src="/gambarNavbarAdmin/home.png" alt="">
                    <p>Home</p>
                </a>
                <a href="/admin/editbukuadmin" class="home">
                    <img src="/gambarNavbarAdmin/buku.png" alt="">
                    <p>Edit Buku</p>
                </a>
                <a id="logout" class="home logout">
                    <img src="/gambarNavbarAdmin/logOut.png" alt="">
                    <p>Log Out</p>
                </a>
            </div>
        </section>
        <section id="main">
            <div class="halo">
                <h1>Welcome To Admin</h1>
            </div>
        </section>
    </div>


    <script type="module" src="/js_admin/dasbordAdmin.js"></script>
</body>
</html>